.btn{
    margin: 5px 10px;
}
.navbar-brand{
    font-weight: 900;
}
.backImg{
    background-image: url("./images/ems.jpg");
  background-color: #cccccc;
  height: 200px;
}
.operation{
    border: 1PX dotted black;
    padding: 20PX;
}
.navimg{
width: 5%;
}

.logo{
    margin: 20px;
}

.func img{
    width: 20%;
    padding: 25px;

}
.func{
    padding: 25px;
    display: inline;
}
.func :hover{
    background-color: rgb(154, 154, 179);
}
.oper{
    margin: 5px 0px;
}
   table{
        width: 100%;
        margin: 35px 0px;

    }

    table tbody tr:hover{
        background-color: rgb(238, 238, 238);
    }
    table td{
        padding: 4px;
        font-size: 14px;
        border: 1px solid rgb(189, 182, 182);
    }
    .btn{
        font-size: 12px;
    }
    .logoEmp{
        margin: 20px 0px;
        width:150px;
    }
    .logoEmp:hover{
            background-color:#E8E5E4;
            border:1px solid #8E8E8E;
            border-radius: 25px;
        }

    .addEmp{
            float: right;
            margin-right: 55px;

        }

        #empD tr td{

        border: none;
        }
        .empDetails {
        border: 1px solid rgb(182, 176, 176);
        margin-top: 75px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .taskbtn{
                width:100%;
              }

        .opCont {
        padding:25px;

        }
        .form-control{
        width:100%;
        }
