.btn{
    margin: 5px 10px;
}
.navbar-brand{
    font-weight: 900;
}
.backImg{
    background-image: url("./images/ems.jpg");
  background-color: #cccccc;
  height: 200px;
}
.operation{
    border: 1PX dotted black;
    padding: 20PX;
}