<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    external css-->
    <link rel="stylesheet" th:href="@{css/styleMe.css}">
    <title>EMS</title>
</head>
<body>


<div class="container">
    <div class="text-center">
        <a th:href="@{/ems}"> <img class="logoEmp" th:src="@{img/icon.png}"></a>
        <h3><span class="badge badge-pill badge-dark">TASK</span></h3>
    </div>

    <a href="#">
        <button type="button" class="addEmp btn btn-outline-primary">Add Task</button>
    </a>
</div>


<div class="container">
    <!-- Example single danger button -->
    <div class="btn-group ">
        <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SELECT PROJECT
        </button>
        <div class="dropdown-menu">
            <div th:each="pro: ${projects}"><a class="dropdown-item" href="#"><span th:text="${pro.pname}"></span></a></div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" th:href="/projects">Go to Projects</a>
        </div>
    </div>
<!--            end of burron group-->


    <table>
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Designation</th>
        <th></th>
        </thead>
        <tbody>
        <!--            <tr th:each="employee: ${employees}"><td th:text="${employee.id}">0052</td><td>Thilina Dilhara</td><td>ASE</td><td class="text-center"><button class="btn btn-outline-info">VIEW</button></td></tr>-->
        <!--            <tr th:each="emp: ${emp}">-->
        <!--                <td th:text="${emp.id}" />-->
        <!--                <td th:text="${emp.name} />-->
        <!--                <td th:text="${emp.resignation} />-->
        <!--            </tr>-->
        <tr th:each="emp: ${emp}">
            <td><span th:text="${emp.id}"></span></td>
            <td><span th:text="${emp.name}"></span></td>
            <td><span th:text="${emp.resignation}"></span></td>
            <td class="text-center">
                <a th:href="@{/employee/view/{id}(id=${emp.id})}"><button class="btn btn-outline-info">VIEW</button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

    <!--    <table>-->
    <!--        <thead>-->
    <!--        <th>ID</th>-->
    <!--        <th>Name</th>-->
    <!--        <th>Resignation</th>-->
    <!--        <th></th>-->
    <!--        </thead>-->
    <!--        <tbody>-->
    <!--        <tr th:each="emp: ${emp}">-->
    <!--            <td><span th:text="${emp.id}"></span></td>-->
    <!--            <td><span th:text="${emp.name}"></span></td>-->
    <!--            <td><span th:text="${emp.resignation}"></span></td>-->
    <!--            <td class="text-center">-->
    <!--                <button class="btn btn-outline-info">VIEW</button>-->
    <!--            </td>-->
    <!--        </tr>-->
    <!--        </tbody>-->
    <!--    </table>-->





<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>