
<!doctype html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>

        .header{
            background-color: rgb(24, 160, 92);
            width: 100%;
            padding: 25px;

            color: azure;
        }

        .nav-buttons{
            margin: 20px;
            padding:7px 35px;
        }

        .nav-buttons-container{
            width: 100%;
            margin: 20px;
        }


        </style>
    <title>Hello, world!</title>
</head>
<body>
<div class="container ">
    <div class="header ">
        <div class="text-center header-font" >
            <h2>Student Management System</h2>
        </div>
    </div>
    <div class="text-center nav-buttons-container">

        <button type="button" onclick="location.href='http://localhost:8090/addStudent'" class="btn btn-outline-success nav-buttons">Create Studnt</button>
        <button type="button" onclick="location.href='http://localhost:8090/updateStudent'" class="btn btn-outline-success nav-buttons">Update Student</button>
        <button type="button" onclick="location.href='http://localhost:8090/fetchStudent'" class="btn btn-outline-success nav-buttons">Fetch Student</button>
        <button type="button" onclick="location.href='http://localhost:8090/fetchAll'" class="btn btn-outline-success nav-buttons">Fetch All Students</button>




        <!-- <button type="button" onclick="location.href='http://www.google.com'" class="btn btn-outline-success nav-buttons">Success</button>
        <button type="button" onclick="location.href='http://www.google.com'" class="btn btn-outline-success nav-buttons">Success</button>
        <button type="button" onclick="location.href='http://www.google.com'" class="btn btn-outline-success nav-buttons">Success</button>
        <button type="button" onclick="location.href='http://www.google.com'" class="btn btn-outline-success nav-buttons">Success</button>
     -->
    </div>
    <h4>Add Student</h4>
</div>


<!-- this is form -->
<div class="container ">
    <div class="jumbotron">
        <div class="row">
            <div  class="col-md-3"></div>
            <div  class="col-md-6 "  align="center">
                <table class="form-style">
                    <tr><td>Name :</td><td><input type="text" name="name"></td></tr>
                    <tr><td>Telephone No. :</td><td><input type="text" name="number"></td></tr>
                    <tr><td>City :</td><td><input type="text" name="city"></td></tr>
                    <tr><td>Project Name :</td><td><input type="text" name="projectname"></td></tr>
                    <tr><td></td><td><button type="submit">Submit</button></td></tr>
                </table>

            </div>
            <div  class="col-md-3"></div>
        </div>

    </div>
</div>
<!--End of the form-->



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>